<div class="card">
  <div class="card-icons-custom">
    <button type="button" class="close">
      <i class="fa fa-trash-o"></i>
    </button>
    <button type="button" class="close">
      <i class="fa fa-pencil-square-o"></i>
    </button>
    <button type="button" class="close">
      <i class="fa fa-star"></i>
    </button>
  </div>
  <div class="card-block">
    <h3 class="card-title">{{item.title}}</h3>
    <h4 class="card-title">
      <a href="http://{{item.link}}" target="_blank">{{item.title}}</a>
    </h4>
    <div>
      <p class="card-text">{{item.detail}}</p>
    </div>
  </div>
</div>