<ol class="breadcrumb">
    <li *ngFor="let item of items; let index = index;"
        class="breadcrumb-item"
        [ngClass]="{'active': !index}"
    >
        <a href="#"
           *ngIf="index !== items.length -1"
           (click)="goToPage($event,item)"
        >
            {{item.name}}
        </a>
        <span *ngIf="index === items.length -1">{{item.name}}</span>
    </li>
</ol>